[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "third_party/cuCollections"]
	path = third_party/cuCollections
	url = https://github.com/NVIDIA/cuCollections.git
